.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .text-zone {
    width: 100%; // Adjust as needed to fit your design
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

    @media screen and (max-width: 1200px) {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  h1 {
    color: #5abcb9;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 40;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    white-space: nowrap;

    @media screen and (max-width: 1200px) {
      float: none;
      display: block;
      margin: 20px auto 0 auto;
      width: 124px;
    }
  }

  @media screen and (max-width: 1200px) {
    .tags,
    h1:before,
    h1:after {
      display: none;
    }

    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
    }

    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }
  }
}
