.nav-bar {
    background: #736c6b;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.logo {
    display: block;
    padding: 8px 0;
}

.logo img {
    display: block;
    margin: 8px auto;
    width: 44px;
    height: auto;
}

nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
}

nav a {
    font-size: 22px;
    color: #ffffff;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
}

nav a i {
    transition: all 0.3s ease-out;
}

nav a:hover {
    color: #dead18;
}

nav a:hover svg {
    opacity: 1;
}

nav a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e7e4dc;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-out;
    
}

nav a:hover:after {
    opacity: 1;
    
}

nav a.active svg {
    color: #dead18;
    opacity: 1;
    
    
    
}

nav a.active {
    color: #dead18;
    background: #e7e4dc;
    
}

ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
}

ul li a {
    display: inline-block;
    padding: 7px 0;
    font-size: 15px;
    line-height: 16px;
}
ul li a:hover svg{
    color:#dead18
}
